{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].auspiciantes.section | default: 'auspiciantes' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="margin-bottom: 5%;">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].auspiciantes.title | default: "Auspiciantes" }}</h2>
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      {% for file in site.data.sitetext[site.locale].auspiciantes.list %}
      <div class="col">
        <div class="row" style="padding: 5%;">
          <div class="col text-center" style="background-color: #dfdfdf; border-radius: 50%; ">
            <a href="{{ file.link }}"><img src="assets/img/auspicios/{{ file.nombre-archivo }}.png" width="100%" alt=""></a> 
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<style>
  
</style>
{% endif %}