
{% if site.locale and site.locale != "" and site.locale != nil %}
<section id="section-form">
    <img src="/assets/img/fondo-form.jpg" id="imagen-form" alt="Imagen de fondo">
    <form class="shadow-lg bg-white  col-8" id="form-talleres-section">
        <div class="form-group input-per">
            <label for="exampleFormControlName">Nombre:</label>
            <input type="text" class="form-control" id="exampleFormControlName" placeholder="Introduzca su nombre">
        </div>
        <div class="form-group">
            <label for="exampleFormControlLastName">Apellido:</label>
            <input type="text" class="form-control" id="exampleFormControlLastName" placeholder="Introduzca su apellido">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@gmail.com">
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect2">Taller en el que quiere participar:</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Taller1</option>
            <option>Taller2</option>
            <option>Taller3</option>
            <option>Taller4</option>
            <option>Taller5</option>
            <option>Taller6</option>
        </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mx-auto col-6">Inscribirse</button>
        </div>
    </form>
</section>
{% endif %}
