{% if site.locale and site.locale != "" and site.locale != nil %}
<div class="container col-xl-12 col-xxl-8 px-4 py-1" id="section-expositor">
    <div class="row align-items-center g-lg-5 py-5"  >
        <div class="col-lg-6 text-center text-lg-start" id="section-form">
            <h1 class="text-center fw-bold mb-3 ">Impresión 3D en Educación y Educación en Impresión 3D</h1>
            <p>
                El taller se planteará como un espacio de intercambio de modelos, casos y experiencias en torno a 
                la inclusión de las tecnologias de fabricación digital aditiva en educación. Dirgido a quienes se 
                están iniciando en estos temas y quieren sumar la impresión 3D en sus propuestas. El taller se 
                planteará como un espacio de intercambio de modelos, casos y experiencias en torno a la inclusión 
                de las tecnologias de fabricación digital aditiva en educación. Dirgido a quienes se están 
                iniciando en estos temas y quieren sumar la impresión 3D en sus propuestas.
                Taller coordinado por Rodrigo Javier Ramírez, diseñador industrial. Docente de la materia 
                Tecnologias de Fabricación Digital Aditiva 1 y 2, en la carrera de Diseño Industrial de la UNAHUR.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 " >
            <form class="p-4 p-md-5 border rounded-3 bg-light shadow-sm p-3 mb-5 bg-white rounded ">
                <div class="form-floating mb-3">
                    <label for="floatingInput">Email:</label>
                    <input type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingName">Nombre:</label>
                    <input type="text" class="form-control" id="floatingName" placeholder="Ingrese su nombre">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingApellido">Apellido:</label>
                    <input type="text" class="form-control" id="floatingApellido" placeholder="Ingrese su apellido">
                </div>
                <div class="form-floating mb-3">
                    <label for="floatingDNI">DNI:</label>
                    <input type="text" class="form-control" id="floatingDNI" placeholder="Ingrese su DNI">
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">inscribirse</button>
                <hr class="my-4">
                <div class="text-center">
                <small class="text-muted">Haciendo click estás sujeto a que le enviemos emails</small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}