
{% if site.locale and site.locale != "" and site.locale != nil %}
<div class="container col-xl-12 col-xxl-8 px-4 py-1" id="section-expositor-uno">
    <div class="row align-items-center g-lg-5 py-5" >
        <div class="col-md-11 mx-auto col-lg-7 text-center shadow p-5 my-2 bg-white rounded expositor-info">
            <h1 class="text-center fw-bold mb-3">Aprender a programar en objetos con Wollok Game</h1>
            <p>
                <a href="https://www.wollok.org/" class="h6">Wollok</a> es un lenguaje educativo para enseñar programación orientada a objetos, 
                que incluye la herramienta "Game" que permite crear videojuegos y utilizarlos como recurso 
                didáctico. <br>
                Docente a cargo: Mg. Lucas Spigariol (UNAHUR) <br>
                Es Ing. en Sistemas de Información y docente en carreras universitarias
                de informática en UNAHUR y UTN. Es miembro de la Fundación Uqbar, responsable del 
                desarrollo de Wollok. Adeḿas, es Lic. en Ciencias de la Comunicación y Mg. en 
                Docencia Universitaria.
            </p>
            <form>
                <button id="example-widget-trigger-wollok" 
                        class="w-30 btn btn-lg btn-primary" 
                        type="button">
                        Inscribirse
                </button>
                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                <script type="text/javascript">
                    var exampleCallback = function () {
                        console.log('Order complete!');
                    };

                    window.EBWidgets.createWidget({
                        widgetType: 'checkout',
                        eventId: '630279863037',
                        modal: true,
                        modalTriggerElementId: 'example-widget-trigger-wollok',
                        onOrderComplete: exampleCallback,
                        promoCode: "TallerWollok",
                    });
                </script>
            </form>
        </div>
    </div>
</div>
{% endif %}
