{% if site.locale and site.locale != "" and site.locale != nil %}
<div class="container col-xl-12 col-xxl-8 px-4 py-1" id="section-expositor-tres">
    <div class="row align-items-center g-lg-5 py-5" >
        <div class="col-md-11 mx-auto col-lg-7 text-center shadow p-5 my-2 bg-white rounded expositor-info">
            <h1 class="text-center fw-bold mb-3 ">La Realidad Aumentada y tú, compañeros en la Educación</h1>
            <p>
                La Realidad Aumentada está más vigente que nunca. En este taller se presentarán algunos desarrollos
                regionales en esta tecnología inmersiva, destinados al abordaje de temáticas ambientales para todas
                las edades, tanto dentro como fuera del aula.
                Además, presentaremos una herramienta con la que los participantes podrán fácilmente construir y 
                compartir su propia Realidad Aumentada. <br>
                Docente a cargo: Ing. Ezequiel Lobatto. <br>
                Es Profesor en Matemática y Astronomía (ISP Dr Joaquín V. González). Ingeniero en Informática 
                (UNLAM), productor audiovisual, fanático de los Simpson y arquero en los tiempos libres. Ejerce 
                la docencia en nivel secundario, terciario y universitario. Ha desarrollado aplicaciones en
                tecnologías inmersivas para educación y artes plásticas, colaborando con diversas editoriales e 
                instituciones académicas. También produce contenido audiovisual educativo en el canal de Youtube 
                “Matemática Para Millones”.
            </p>
            <form>
                <button id="tallerRA" 
                        class="w-30 btn btn-lg btn-primary" 
                        type="button">
                        Inscribirse
                </button>
                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                <script type="text/javascript">
                    var exampleCallback = function () {
                        console.log('Order complete!');
                    };

                    window.EBWidgets.createWidget({
                        widgetType: 'checkout',
                        eventId: '630279863037',
                        modal: true,
                        modalTriggerElementId: 'tallerRA',
                        onOrderComplete: exampleCallback,
                        promoCode: "TallerRA",
                    });
                </script>
            </form>
        </div>
    </div>
</div>
{% endif %}