{% if site.locale and site.locale != "" and site.locale != nil %}
<div class="container col-xl-12 col-xxl-8 px-4 py-1" id="section-expositor-dos">
    <div class="row align-items-center g-lg-5 py-5" >
        <div class="col-md-11 mx-auto col-lg-7 text-center shadow p-5 my-2 bg-white rounded expositor-info">
            <h1 class=" fw-bold mb-3 ">Videojuegos y educación, cómo implementar un proyecto lúdico en el ámbito educativo</h1>
            <p>
                Este taller tiene como primer objetivo pensar al videojuego como un recurso más dentro del aula,
                y luego realizar un recorrido de análisis por varios casos de utilización de videojuegos
                comerciales en el aula, y cómo han adaptado la experiencia lúdica. Trabajaremos sobre estrategias
                y desafíos para una implementación exitosa <br>
                Docente a cargo: Lic. José Guerra Prado. <br>
                Es Project Manager del VoxEdit Squad y del Animation Squad en The Sandbox. Docente Universitario 
                en las áreas de Gestión de Proyectos y Producción para Videojuegos. Entusiasta de los videojuegos, 
                el fútbol y el automovilismo. Equipo de Coordinación de la Tecnicatura 
                Universitaria en Programación de Videojuegos
            </p>
            <form>
                <button id="tallerVideojuegos" 
                        class="w-30 btn btn-lg btn-primary" 
                        type="button">
                        Inscribirse
                </button>
                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                <script type="text/javascript">
                    var exampleCallback = function () {
                        console.log('Order complete!');
                    };

                    window.EBWidgets.createWidget({
                        widgetType: 'checkout',
                        eventId: '631679840407',
                        modal: true,
                        modalTriggerElementId: 'tallerVideojuegos',
                        onOrderComplete: exampleCallback,
                        promoCode: "TallerVideojuegos",
                    });
                </script>
            </form>
        </div>
    </div>
</div>
{% endif %}