{% if site.locale and site.locale != "" and site.locale != nil %}
<div class="container col-xl-12 col-xxl-8 px-4 py-1" id="section-expositor-cuatro">
    <div class="row align-items-center g-lg-5 py-5" >
        <div class="col-md-11 mx-auto col-lg-7 text-center shadow p-5 my-2 bg-white rounded expositor-info">
            <h1 class="text-center fw-bold mb-3 ">Impresión 3D en Educación y Educación en Impresión 3D</h1>
            <p>
                El taller se planteará como un espacio de intercambio de modelos, casos y experiencias en torno a 
                la inclusión de las tecnologías de fabricación digital aditiva en educación. Dirgido a quienes se 
                están iniciando en estos temas y quieren sumar la impresión 3D en sus propuestas. El taller se 
                planteará como un espacio de intercambio de modelos, casos y experiencias en torno a la inclusión 
                de las tecnologías de fabricación digital aditiva en educación. Dirgido a quienes se están 
                iniciando en estos temas y quieren sumar la impresión 3D en sus propuestas.
                Taller coordinado por Rodrigo Javier Ramírez, diseñador industrial. Docente de la materia 
                Tecnologías de Fabricación Digital Aditiva 1 y 2, en la carrera de Diseño Industrial de la UNAHUR.
            </p>
            <p style="border-radius: 20px; border: #090 2px solid; box-shadow: inset 0 0 10px #090; font-weight: bold;">Cupos completos!</p>
            <!--form>
                <button id="tallerImpresion" 
                        class="w-30 btn btn-lg btn-primary" 
                        type="button">
                        Inscribirse
                </button>
                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                <script type="text/javascript">
                    var exampleCallback = function () {
                        console.log('Order complete!');
                    };

                    window.EBWidgets.createWidget({
                        widgetType: 'checkout',
                        eventId: '631679840407',
                        modal: true,
                        modalTriggerElementId: 'tallerImpresion',
                        onOrderComplete: exampleCallback,
                        promoCode: "TallerImpresion3D",
                    });
                </script>
            </form-->
        </div>
    </div>
</div>
{% endif %}