<!-- Inscripciones -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].inscripciones.section | default: "inscripciones" }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].inscripciones.title | default: "inscripciones" }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% for row in site.data.sitetext[site.locale].inscripciones.header %}
                            <th>{{ row.title | markdownify}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Asistente Autor</td>
                            <td>$3000</td>
                            <td>
                                <a id="entradaAutor" 
                                        class="btn btn-primary btn-l text-uppercase" 
                                        type="button"
                                        href="http://163.10.22.92//sac_congreso/inscripcionCongreso.php?idEvento=156"
                                        target="_blank">
                                        Inscribirse
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Asistente General</td>
                            <td>GRATIS</td>
                            <td>
                                <button id="entradaGeneral" 
                                        class="btn btn-primary btn-l text-uppercase" 
                                        type="button">
                                        Inscribirse
                                </button>
    
                                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    
                                <script type="text/javascript">
                                    var exampleCallback = function () {
                                        console.log('Order complete!');
                                    };
    
                                    window.EBWidgets.createWidget({
                                        widgetType: 'checkout',
                                        eventId: '631679840407',
                                        modal: true,
                                        modalTriggerElementId: 'entradaGeneral',
                                        onOrderComplete: exampleCallback,
                                        promoCode: "AsistenteGeneral",
                                    });
                                </script>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</section>
{% else %}

{% endif %}
<!-- End Inscripciones -->