{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" style="margin-top: -5%;" id="{{ site.data.sitetext[site.locale].novedades.section | default: 'novedades' }}">
    <div class="container">
        <div class="row">
            <!--div class="col-lg-12 text-center" style="margin-bottom: 5%;">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].novedades.title | default: "Novedades" }}</h2>
            </div-->
            {% assign novedades = site.data.sitetext[site.locale].novedades.list %}
            <div class="col-lg-12 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pTYWT3h20DQ" title="YouTube video player" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
{% endif %}
