<section class="page-section" id="presentaciones">
    <div class="container">
        <div class="row" id="titulo">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].convocatoria.title | default: "convocatoria" }}</h2>
                <a href="/assets/pdf/call-teyet-1-v2.pdf">Descargar llamado</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="{{ site.data.sitetext[site.locale].convocatoria.image }}">
            </div>
        </div>
    </div>
</section>