
<Section class="page-section" id="programa">
  <h2 class="text-center text-uppercase">Programa</h2>
  <div class="d-flex justify-content-center">
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;}
      .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg .tg-zk76{background-color:#c0c0c0;border-color:#ffffff;text-align:center;vertical-align:top}
      .tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
      .tg .tg-5ozx{background-color:#016e0c;border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}
      .tg .tg-lu4w{background-color:#34cdf9;border-color:#ffffff;text-align:center;vertical-align:top}
      .tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
      .tg .tg-ze7a{background-color:#c0c0c0;border-color:#ffffff;color:#000000;text-align:center;vertical-align:top}
      .tg .tg-hvao{background-color:#c0c0c0;border-color:#ffffff;text-align:center;vertical-align:center}
      </style>
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-5ozx" colspan="3">JUEVES 15 DE JUNIO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-hvao" style="vertical-align: middle;">9:00-12:00 HS (acreditación)</td>
          <td class="tg-ze7a">TRACK 1(Aula xx) :EDUCACIÓN EN TECNOLOGÍA (ET)/TECNOLOGÍA EN EDUCACIÓN (TE)</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-zk76" style="vertical-align: middle;">12:15 HS</td>
          <td class="tg-zk76">ACTO INAUGURAL / CONFERENCIA INAUGURAL:<br>«Caleidoscopios y el eterno retorno: tecnologías y <br>educación en los escenarios contemporáneos.»<br>DRA. CARINA LION (UBA)<br></td>
          <td class="tg-zk76" style="vertical-align: middle;"><a target="_blank" type="application/vnd.openxmlformats-officedocument.wordprocessingml.document" href="../assets/pdf/Cv_CARINA_LION.pdf">CV</a><br>-<br><a href="https://www.linkedin.com/in/carina-lion-3172616/?originalSubdomain=ar">Linkedln</a></td>
        </tr>
        <tr>
          <td class="tg-lu4w" colspan="3">BREAK</td>
        </tr>
        <tr>
          <td class="tg-zk76">15:00 - 16:00 HS</td>
          <td class="tg-zk76">DEMOS EDUCATIVAS (Lugar)</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-oe15" colspan="3"></td>
        </tr>
        <tr>
          <td class="tg-zk76">16:00 - 18:30 HS</td>
          <td class="tg-zk76">TRACK 2(Aula xx) :EXPERIENCIA DOCENTES (ED)</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-5ozx" colspan="3">VIERNES 16 DE JUNIO</td>
        </tr>
        <tr>
          <td class="tg-zk76">9:00-12:00 HS (acreditación)</td>
          <td class="tg-zk76">Hall Auditorio</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-zk76">9:00 HS</td>
          <td class="tg-zk76">Reunión Plenaria - Representantes de la RedUNCI - Auditorio</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-oe15" colspan="3"></td>
        </tr>
        <tr>
          <td class="tg-zk76">9:00 - 12:00 HS</td>
          <td class="tg-zk76">TRACK 3(Aula xx) :EDUCACIÓN EN TECNOLOGÍA (ET)/TECNOLOGÍA EN EDUCACIÓN (TE)</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-zk76">13:00 HS</td>
          <td class="tg-zk76">ALMUERZO DE CIERRE DE EDUCACIÓN (TE)</td>
          <td class="tg-hvao"></td>
        </tr>
        <tr>
          <td class="tg-zk76" style="vertical-align: middle;">15:00 - 17:00</td>
          <td class="tg-zk76">TALLERES<br>- Taller 1: Pensamiento computacional: Enseñar a programar. Lucas Spigariol<br>- Taller 2: Videojuegos educativos. José Guerra Prado<br>- Taller 3: Robótica educativa.<br>- Taller 4: Tecnologías inmersivas.<br>- Taller 5: IA y educación.<br>- Taller 6: Herramientas para gestión educativa.</td>
          <td class="tg-hvao"></td>
        </tr>
      </tbody>
      </table>
  </div>
</Section>

