
<Section class="page-section" id="programa">
  <h2 class="text-center text-uppercase">Programa</h2>
  <div class="d-flex justify-content-center" style="padding: 100px">
    <style type="text/css">
      .button-cuadro {display: block;width: 100%;height: 100%;background-color: #9dad9f;color: white;border: none;cursor: pointer;outline: none; box-shadow: none;}
      .button-cuadro:active {box-shadow: none;}
      .tg  {border-collapse:collapse;border-spacing:0}
      .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
      .tg .tg-zk76{background-color:#c0c0c0;border-color:#ffffff;text-align:center;vertical-align:top}
      .tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
      .tg .tg-5ozx{background-color:#016e0c;border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}
      .tg .tg-lu4w{background-color:#34cdf9;border-color:#ffffff;text-align:center;vertical-align:top}
      .tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
      .tg .tg-ze7a{background-color:#c0c0c0;border-color:#ffffff;color:#000000;text-align:center;vertical-align:top;}
      .tg .tg-hvao{background-color:#c0c0c0;border-color:#ffffff;text-align:center;vertical-align:center;}
      </style>
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-5ozx" colspan="3" style="text-align: center; border-top-left-radius: 20px 20px; border-top-right-radius: 20px 20px;">JUEVES 15 DE JUNIO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-hvao" style="vertical-align: middle;">9:00-12:00 HS (acreditación)</td>
          <td class="tg-ze7a" colspan="2">TRACK 1 :EDUCACIÓN EN TECNOLOGÍA (ET)/TECNOLOGÍA EN EDUCACIÓN (TE)</td>
        </tr>
        <tr>
          <td colspan="3" class="tg-hvao" style="vertical-align: middle; background-color: #9dad9f;"><button class="button-cuadro" onclick="mostrarContenido1()">Mostrar contenido</button></td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Titulo</td>
        <tr">
          <td class="tg-hvao" style="vertical-align: middle;">Título</td>
          <td class="tg-ze7a" colspan="2" >Autores</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">La matriz de competencias como herramienta para orientar la escritura de resultados de aprendizaje.(Area ET)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Carlos Neil (UAI), Nicolás Battaglia (UAI), Marcelo De Vicenzi (UAI).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;"">La función tutorial en la virtualidad como un aspecto relevante en la capacitación docente.(Area ET)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Elsa Reyes (UTN-FRBA), Gustavo A. José (UNT), Nicolás Auvieux (UNT), Lía Fabiana Torres Auad (UNT).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Estrategias de Microlearning en un Curso de Ingreso a carreras de Ingeniería.(Area TE)</td>
          <td class="tg-ze7a" colspan="2"style="vertical-align: middle; background-color: #e4e4e4;">Roxana Scorzo (UNLaM), Gabriela Ocampo (UNLaM), Gisele De Pietri (UNLaM), Nadia Suelves (UNLaM).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Tecno pedagogía en el Proceso Formativo.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">José Luis Filippi (UNLPAM), Carlos Ballesteros (UNLPAM), Pablo Etcheverry (UNLPAM).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Hacia una comprensión dinámica y contextual de la autorregulación del aprendizaje: Propuesta metodológica para su evaluación en foros académicos.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">María Paula Dieser (UNLPAM),Cecilia Sanz (UNLP), María Alejandra Zangara (UNLP).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Impacto de la aplicación de metodologías activas de enseñanza en la Licenciatura en Sistemas de Información de la Universidad Nacional de Luján.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Juan Manuel Fernandez (UNLu),Mario G. Oloriz (UNLu), María L. Lucchini (UNLu), Adriana E. Nanini (UNLu), Matías Rodríguez (UNLu).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Modelos para la predicción del abandono en la Universidad Nacional de Hurlingham.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Martín Pustilnik (UNAHUR), Gianluca Ndukanma (UNAHUR).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Estilos de aprendizaje en estudiantes de Ingeniería informática. Permanencia o cambio Estilos de aprendizaje en estudiantes de Ingeniería informática. Permanencia o cambio.(AREA TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Carlos Guillermo Lazzurri (UNMdP),
            Ivonne Gellon (UNMdP), Delia Esther Benchoff (UNMdP), Erik Borgnia Giannini (UNMdP).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Emociones académicas. Cuáles son y cómo se identifican.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Gustavo Javier Astudillo (UNLPAM),
            Cecilia Sanz (UNLP), Sandra Baldassarri (UZ), Aurora Moreno (UNLPAM).</td>
        </tr>
        <tr class="contenido1" style="display:none">
          <td class="tg-hvao"  style="vertical-align: middle;">Tecnología de asistencia (TICs) para minimizar las brechas en el conocimiento en alumnos con Dislexia.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Ariel Quiroga Marin (UNdeC),Enrique Martinez (UNdeC).</td>
        </tr>

        <tr>
          <td class="tg-zk76" style="vertical-align: middle;">12:15 HS</td>
          <td class="tg-zk76">ACTO INAUGURAL / CONFERENCIA INAUGURAL<br></td>
          <td class="tg-zk76" style="vertical-align: middle;"><a target="_blank" type="application/vnd.openxmlformats-officedocument.wordprocessingml.document" href="../assets/pdf/Cv_CARINA_LION.pdf">CV</a><br>-<br><a href="https://www.linkedin.com/in/carina-lion-3172616/?originalSubdomain=ar">Linkedln</a></td>
        </tr>
        <tr>
          <td class="tg-lu4w" colspan="3">BREAK</td>
        </tr>
        <tr>
          <td class="tg-zk76" style="vertical-align: middle;">15:00 - 16:00 HS</td>
          <td class="tg-zk76" colspan="2" style="vertical-align: middle;">DEMOS EDUCATIVAS</td>
        </tr>
        <tr>
          <td colspan="3" class="tg-hvao" style="vertical-align: middle; background-color: #9dad9f;"><button class="button-cuadro" onclick="mostrarContenido2()">Mostrar contenido</button></td>
        </tr>
        <tr class="contenido2" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Titulo</td>
          <td class="tg-hvao" style="vertical-align: middle;">Título</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Autores</td>
        </tr>
        <tr class="contenido2" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;"">UAIRubric una herramienta colaborativa para el diseño de rúbricas analíticas.</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Facundo Romeu (UAI).  Juan Manuel Stecklain (UAI), Nicolás Battaglia (UAI), Carlos Neil (UAI).</td>
        </tr>
        <tr class="contenido2" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">ModA Virtual Recorrido virtual inmersivo por el Módulo Apóstoles FCEQyN UNaM.</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Gastón Alberto Caminiti (UNaM), Daniela Alejandra Martinez (UNaM), Fabio Alberto Ledesma (UNaM).</td>
        </tr>
        <tr class="contenido2" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Realidad Virtual para acercar el patrimonio argentino. El caso de HuVi Tango y Casa Curutchet.</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Cecilia Sanz (UNLP), Ana Clara Rucci (UNLP),Mariano Mazza (UNLP), Luciana Renzella (UNLP), Agustina Romero (UNLP), Nela María.</td>
        </tr>
        <tr class="contenido2" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Estimación del tiempo en el diseño de actividades educativas digitales.</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle;">Matías Dimase (UNNOBA), Víctor Boscoscuro (UNNOBA), Carlos Di Cicco (UNNOBA), Tamara Ahmad (UNNOBA), Claudia Russo (UNNOBA), Natalia Sinde (UNNOBA).</td>
        </tr>
        <tr class="contenido2" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; border-bottom-left-radius: 20px 20px; background-color: #e4e4e4;">Robótica educativa.</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; border-bottom-right-radius: 20px 20px; background-color: #e4e4e4;">Mónica Paves (FUTHUR TECH), Samanta Hinojosa (FUTHUR TECH), Braian Caballero (UNAHUR), Santiago Iván Gómez (UNAHUR).</td>
        </tr>
        <tr>
          <td class="tg-oe15" colspan="3"></td>
        </tr>
        <tr>
          <td class="tg-zk76" style="border-top-left-radius: 20px 20px;">16:00 - 18:30 HS</td>
          <td class="tg-zk76" colspan="2" style="border-top-right-radius: 20px 20px;">TRACK 2:EXPERIENCIA DOCENTES (ED)</td>
        </tr>
        <tr>
          <td colspan="3" class="tg-hvao" style=" background-color: #9dad9f;"><button class="button-cuadro" onclick="mostrarContenido3()">Mostrar contenido</button></td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Titulo</td>

          <td class="tg-hvao" style="vertical-align: middle;">Título</td>
          <td class="tg-ze7a" colspan="2">Autores</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Una propuesta de resignificación de la evaluación en las prácticas profesionales.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;" >Sonia Marcela Szilak (UNaM), Gabriela Gómez (UNaM), Ana María Benitez (UNaM).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Tareas y capacidades matemáticas con el uso de GeoGebra en la clase de Análisis Matemático.(Area ED)</td>
          <td class="tg-ze7a" colspan="2">Betina Williner (UNLaM),Adriana Favieri (UNLaM).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Narrativas Digitales: la radio en el aula.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Diana Dure (UTN-FRRe), Claudia García (UTN-FRRe), Graciela Muchutti (UTN-FRRe), Leonardo Barabas (UTN-FRRe).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Proyecto de análisis de datos de servicios de telecomunicaciones evaluado con rúbricas analíticas.(Area ED)</td>
          <td class="tg-ze7a" colspan="2">Marcelo Dante Caiafa (UNLaM), Ariel Rodrigo Aurelio (UNLaM), Alejandro Bevilacqua (UNLaM).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Uso de Simulador para el análisis de filtros de Compatibilidad Electromagnética.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Ignacio J Zaradnik (UNLaM), Javier Slawiski (UNLaM), Hugo Tantignone (UNLaM), Mónica Canziani (UNLaM).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">ChatGPT: como no caer en el prohibicionismo.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Mercedes Escardó (UNAHUR).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Transmedia Storytelling and CLIL approach: the perfect allies in the English.(Area ED)</td>
          <td class="tg-ze7a" colspan="2">Graciela Heit (UNAHUR), María Alejandra Sánchez (UNAHUR).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Experiencia de migración de la plataforma de Educación Virtual en la Facultad de Ciencias Agrarias UNR: análisis preliminar del proceso.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Evelina Marinelli (UNR), Luciana Burzacca (UNR), Araceli Boldorini (UNR), Silvina García (UNR).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Una propuesta de evaluación formativa en asignaturas del área de Bases de Datos de la UNNOBA.(Area ED)</td>
          <td class="tg-ze7a" colspan="2">Mariana Adó (UNNOBA), Mercedes Guash (UNNOBA), María Rosana Piergallini (UNNOBA), Marina Rodríguez (UNNOBA).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Estrategia de Evaluación Formativa Virtual en un Curso de Programación Numérica.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Ángel R. Barberis (UNSa), Lorena E. Del Moral Sachetti (UNSa),Jorge A. Silvera (UNSa).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Propuesta Didáctica de Lecto/Comprensión de Textos Científicos en un Ambiente Híbrido. Una experiencia Docente en Programación Numérica.(Area ED)</td>
          <td class="tg-ze7a" colspan="2">Lorena E. Del Moral Sachetti (UNSa),Ángel R. Barberis (UNSa), Jorge A. Silvera (UNSa).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Prácticas didácticas innovadoras para el desarrollo de videos educativos como aporte al abordaje de contenidos curriculares en la Educación Superior.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Sandra E. Angeli (UNRC), Mauricio Nazareno Boarini (UNRC), Lorena A. Montbrun (UNRC).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Trabajo final de la asignatura estadística con uso de Infostat como herramienta didáctica.(Area ED)</td>
          <td class="tg-ze7a" colspan="2">María Laura Vranic (UNAHUR), Mónica Guliano (UNAHUR).</td>
        </tr>
        <tr class="contenido3" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Desafíos y posibilidades de la educación híbrida en la clase de Introducción al Análisis Matemático.(Area ED)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Martín Cornes (UNAHUR), Ángel Tonna (UNAHUR), Silvia Raquel Vargas (UNAHUR).</td>
        </tr>
        <tr></tr>
          <td class="tg-5ozx" colspan="3" style="text-align: center">VIERNES 16 DE JUNIO</td>
        </tr>
        <tr>
          <td class="tg-zk76">9:00-12:00 HS (acreditación)</td>
          <td class="tg-zk76" colspan="2">Hall Auditorio</td>
        </tr>
        <tr>
          <td class="tg-zk76" style="border-bottom-left-radius: 20px 20px;">9:00 HS</td>
          <td class="tg-zk76" colspan="2" style="border-bottom-right-radius: 20px 20px;">Reunión Plenaria - Representantes de la RedUNCI - Auditorio</td>
        </tr>
        <tr>
          <td class="tg-oe15" colspan="3"></td>
        </tr>
        <tr>
          <td class="tg-zk76" style="border-top-left-radius: 20px 20px;">9:00 - 12:00 HS</td>
          <td class="tg-zk76" colspan="2" style="border-top-right-radius: 20px 20px;">TRACK 3:EDUCACIÓN EN TECNOLOGÍA (ET)/TECNOLOGÍA EN EDUCACIÓN (TE)</td>
        </tr>
        <tr>
          <td colspan="3" class="tg-hvao" style="vertical-align: middle; background-color: #9dad9f;"><button class="button-cuadro" onclick="mostrarContenido4()">Mostrar contenido</button></td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Titulo</td>
          <td class="tg-hvao" style="vertical-align: middle;">Título</td>
          <td class="tg-ze7a" colspan="2">Autores</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Modelo de red sostenible para educación mediada por TIC en zonas aisladas de la Provincia de Salta.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Sergio Rocabado (UNSa). David Gonzalo Romero (UNSa). Carlos Cadena (UNSa). Liliana Carina Barth Muller (UNSa).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">El futuro de la Educación Universitaria con Chat GPT.(Area TE)</td>
          <td class="tg-ze7a" colspan="2">Matias Agustin Perez (UNdeC), Samira Robador Papich (UNdeC).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Proceso de diseño y desarrollo del framework MarCOA para la creación de Objetos de Aprendizaje.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Lucía Violini (UNLP), Cecilia Sanz (UNLP), Patricia Pesado (UNLP).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Realidad Aumentada Aplicada al Estudio de Instrumental Quirúrgico para Cirugía General Veterinaria.(Area TE)</td>
          <td class="tg-ze7a" colspan="2">Agustín Leonardo Cao (UNLP), Sebastián Dapoto (UNLP) Pablo Thomas (UNLP), Ana María Blasco (UNLP), Hugo Baschar (UNLP),
            Jonatan Terminiello (UNLP).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Avances en la herramienta de autor AuthorAR para la creación de actividades educativas con geolocalización.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Natalí Salazar Mesía (UNLP),Cecilia Sanz (UNLP).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Revisión Sistemática de Literatura de estudios sobre modalidades híbridas educativas en Disciplinas Proyectuales.(Area TE)</td>
          <td class="tg-ze7a" colspan="2">Verónica Cecilia Díaz Reinoso (UNSJ),Cecilia Sanz (UNLP).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;"">Análisis sobre la categorización de tesis de grado de las carreras informáticas de la UM, mediante minería de textos.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Gabriel Mariuz (UM), Marisa Panizzi (UM), Iris Sattolo (UM).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Análisis de la demanda cognitiva de problemas de probabilidad propuestos en E-status.(Area TE)</td>
          <td class="tg-ze7a" colspan="2">Yilton Riascos (UniCAUCA), Silvia N Pérez (UNO), Mónica Giuliano (UNO),
            M. Victoria Afonso (UNO), Diego Edwards Molina (UNO), José A. González (UPC).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Herramientas para la gestión de poblaciones estudiantiles: propuestas personalizadas de inscripción, análisis comparativo de trayectorias.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Gerardo González Tulian (UNAHUR),Juan Martín Bonacci (UNAHUR).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle;">Observatorio de Tecnología e Innovación Educativa.(Area TE)</td>
          <td class="tg-ze7a" colspan="2">Claudia Russo (UNNOBA), Tamara Ahmad (UNNOBA), Natalia Sinde (UNNOBA).</td>
        </tr>
        <tr class="contenido4" style="display:none">
          <td class="tg-hvao" style="vertical-align: middle; background-color: #e4e4e4;">Video y dramatización en pandemia: Virtualización del Festival de cine de Lengua Inglesa I.(Area TE)</td>
          <td class="tg-ze7a" colspan="2" style="vertical-align: middle; background-color: #e4e4e4;">Blas Bigatti (UNAHUR), Florencia Gervasoni (UNAHUR), Ariel Ogián (UNAHUR), Andrea Scagnetti (UNAHUR), Andrea Trenti (UNAHUR),
            Nicolás Vincenti (UNAHUR).</td>
        </tr>
        <tr>
          <td class="tg-zk76" style="vertical-align: middle; border-bottom-left-radius: 20px 20px;">14:00 - 16:00</td>
          <td class="tg-zk76" colspan="2" style="vertical-align: middle; border-bottom-right-radius: 20px 20px;">TALLERES<br>Taller 1 - Aprender a programar en objetos con Wollok Game.<br>Taller 2 - Videojuegos y educación, cómo implementar un proyecto lúdico en el ámbito educativo.<br>Taller 3 - La Realidad Aumentada y tú, compañeros en la Educación.<br>Taller 4 - Impresión 3D en Educación y Educación en Impresión 3D.<br>Taller 5: Diversión Sensitiva.<br></td>
        </tr>
      </tbody>
      </table>
  </div>
</Section>
<script>
function mostrarContenido1() {
  var elementosContenido = document.getElementsByClassName("contenido1");
  for (var i = 0; i < elementosContenido.length; i++) {
    if (elementosContenido[i].style.display === "none") {
      elementosContenido[i].style.display = "table-row";
  } else {
    elementosContenido[i].style.display = "none";
  }
  }
}
function mostrarContenido2() {
  var elementosContenido = document.getElementsByClassName("contenido2");
  for (var i = 0; i < elementosContenido.length; i++) {
    if (elementosContenido[i].style.display === "none") {
      elementosContenido[i].style.display = "table-row";
  } else {
    elementosContenido[i].style.display = "none";
  }
  }
}
function mostrarContenido3() {
  var elementosContenido = document.getElementsByClassName("contenido3");
  for (var i = 0; i < elementosContenido.length; i++) {
    if (elementosContenido[i].style.display === "none") {
      elementosContenido[i].style.display = "table-row";
  } else {
    elementosContenido[i].style.display = "none";
  }
  }
}
function mostrarContenido4() {
  var elementosContenido = document.getElementsByClassName("contenido4");
  for (var i = 0; i < elementosContenido.length; i++) {
    if (elementosContenido[i].style.display === "none") {
      elementosContenido[i].style.display = "table-row";
  } else {
    elementosContenido[i].style.display = "none";
  }
  }
}
</script>

