
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section bg-light" id="talleres">
<div class="container">
    <h2 class="section-heading text-uppercase text-center">Talleres</h2>
    <h3 class="section-subheading text-muted mb-4 text-center">Talleres del congreso</h3>
    <div class="row">
        {% for taller in site.data.sitetext[site.locale].talleres %}
        <div class="col-md-5 mb-5 mx-auto border rounded shadow-sm bg-white d-flex flex-column align-items-center p-0">
            <div class="card-body text-center">
                <h5 class="card-title mb-1">{{ taller.nombre }}</h5>
                <p class="card-text small">{{ taller.descripcion }}</p>
            </div>
            <img src="{{ taller.img }}" class="card-img-bottom" alt="Imagen representativa del taller">
            <button class="btn btn-primary btn-block rounded-0 p-2">{{ site.data.sitetext[site.locale].form_talleres.button }}</button>
            <!-- <a class="btn btn-primary btn-block rounded-0 p-2" href="{{ site.data.sitetext[site.locale].form_talleres.buttonLink }}" target="_blank">{{ site.data.sitetext[site.locale].form_talleres.button }}</a> -->
        </div>
        {% endfor %} 
    </div>
</div>
</section>
{% endif %}
