
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section bg-light" id="talleres">
<div class="container">
    <h2 class="section-heading text-uppercase text-center">Talleres</h2>
    <h3 class="section-subheading text-muted mb-4 text-center">Talleres del congreso</h3>
    <div class="row">
        {% for taller in site.data.sitetext[site.locale].talleres %}
        <div class="col-md-5 mb-5 mx-auto border rounded shadow-sm bg-white d-flex flex-column align-items-center p-0">
            <div class="card-body text-center d-flex flex-column justify-content-around">
                <h5 class="card-title mb-1">{{ taller.nombre }}</h5>
                <p class="card-text small">{{ taller.descripcion }}</p>
            </div>
            <div>
                <img src="{{ taller.img }}" class="w-100" alt="Imagen representativa del taller">
                <!--a class="btn btn-primary btn-block rounded-0 p-2 " href="{{ taller.buttonLink }}" target="_blank">Inscribirse</a-->
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
</section>
{% endif %}
