// Styling for the convocatoria section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#presentaciones {
  #titulo {
    margin-top: 10vh;
  }

  img {
    margin-top: 5vh;
  }

  h4 {
    color: #016e0c;
  }
}